@model tp_laba2.Models.FilmStudio

@{
    ViewData["Title"] = "Просмотр киностудии";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    <div class="label-container">
        @Html.LabelForModel()
    </div>
    <div class="display-container">
        @Html.DisplayForModel()
    </div>
</div>
